<% provide(:title, 'Din Api sida') %>
<%= gravatar_for @user %>
<h2>Information for <%= @user.username %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul>
      <li>
        <h4> <%= 'Username: ' + @user.username %></h4>
      </li>
      <li>
        <h4><%= 'Email: ' + @user.email %></h4>
      </li>
      <li>
        <% if @user.api.key.nil? %>
            <%=  link_to "Create key!", edit_user_api_path(@user, @user.api) , class: "btn btn-lg btn-primary" %>
        <% else %>
          <h4>  <%=   'Your Api key: ' +  @user.api.key %> </h4>
            <%=  link_to "Delete key!", edit_user_api_path(@user, @user.id) , class: "btn btn-lg btn-danger" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>